<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
  <meta charset="UTF-8">
  <title>Mantenimiento Producto</title>
</head>
<body>
<nav th:insert="layout::menu"></nav>
<div class="card" >
  <div class="card-header text-bg-dar mb-3">
    Lista de Productos
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">codigoC</th>
        <th scope="col">codigoPr</th>
        <th scope="col">codigoM</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>


      </tr>
      </thead>
      <tbody>
      <tr th:each="producto :${listarProducto}">
        <td></td>
        <td th:text="${producto.codigoPRO}"></td>
        <td th:text="${producto.nombrePRO}"></td>
        <td th:text="${producto.descripcionPRO}"></td>
        <td th:text="${producto.codigoC}"></td>
        <td th:text="${producto.codigoPR}"></td>
        <td th:text="${producto.codigoM}"></td>
        <td th:text="${producto.precioPRO}"></td>
        <td th:text="${producto.stockPRO}"></td>

      </tr>

      </tbody>
    </table>


  </div>

</div>
</body>
</html>