<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Mantenimiento Marca</title>
</head>
<body>
<nav th:insert="layout::menu"></nav>
<div class="card" >
  <div class="card-header text-bg-dar mb-3">
    Lista de Marcas
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>

        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>

      </tr>
      </thead>
      <tbody>
      <tr th:each="marca :${listarMarca}">

        <td th:text="${marca.codigoM}"></td>
        <td th:text="${marca.nombreM}"></td>
      </tr>

      </tbody>
    </table>


  </div>

</div>
</body>
</html>