<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Mantenimiento Marca</title>
</head>
<script th:src="@{/scripts/jsweb/Producto/Marca/frmMantMarca.js}" type="text/javascript"> </script>
<body>
<nav th:insert="layout::menu"></nav>
<div class="card" >
  <div class="card-header text-bg-dar mb-3">
    Lista de Marcas
  </div>
  <div class="card-body">
    <button id="btnagregar" type="button" class="btn btn-primary">Agregar</button>
    <table id="tblMarca" class="table">
      <thead>
      <tr>

        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>

      </tr>
      </thead>
      <tbody>
      <tr th:each="marca :${listarMarca}">

        <td th:text="${marca.codigoM}"></td>
        <td th:text="${marca.nombreM}"></td>
      </tr>

      </tbody>
    </table>


  </div>

</div>
<!-- Modal -->
<div class="modal fade" id="modalNuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Marca</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="mb-3">
          <label for="txtNombreM" class="form-label">Nombre de la marca</label>
          <input type="text" class="form-control" id="txtNombreM" placeholder="Ingrese nombre de la marca">
        </div>












      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>